<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>jabberID</key>
	<string>bareJID</string>
	<key>password</key>
	<string>password</string>
	<key>hostName</key>
	<string>aHost, i.e. "localhost"</string>
	<key>port</key>
	<string>5222</string>
	<key>debugMode</key>
    <string>0</string>
</dict>
</plist>
